.classpath
.project
.settings/
target/
src/main/webapp/WEB-INF/classes/
src/main/webapp/WEB-INF/lib/
bin/
.idea/
*.iml
catalina.home_IS_UNDEFINED
atlassian-ide-plugin.xml
classes
*/*.iml
*/*/*.iml
/*/target
/*/*/target
/*/.idea/
/.idea/
*iml
.idea/*.xml
